* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.common-button {
  background-color: #664dd4 !important;
  padding-block: 10px !important;
  border-radius: 25px !important;
  text-transform: none !important;
  font-weight: 700 !important;
}
